<h1>What's all this about?</h1>
<p>
	I think one of my biggest annoyances in life was when I fell in love with Tim Horton's Italian Wedding Soup, but never knew when they were serving it. Their soup schedule was not something public and it was so rarely served that I had no idea if I was going to have a great lunch or a mediocre one.
</p>
<p>
	That's why I created whataretheyserving.com. It's a community driven site that lets people know what stores are serving. Simple as that.
</p>