<h1>What's all this then?</h1>
<p>
	I think one of my biggest annoyances in life was when I fell in love with Tim Horton's Italian Wedding Soup, but never knew when they were serving it. Their soup schedule was not something public and it was so rarely served that I had no idea if I was going to have a great lunch or a mediocre one.
</p>
<p>
	That's why I created whataretheyserving.com. It's a community driven site that lets people know what stores are serving. Simple as that.
</p>

<h2>How it works</h2>
<p>
	So this is all community based. There are basically 3 things you can submit:
	
	<ul>
		<li>Restaurants/Stores - Browse the restaurants - don't see the one that you want, add it!</li>
		<li>Locations - Browse the locations - don't see the one that you want, add it!</li>
		<li>Entries - Once at a location, enter a Special of the Day, or Soups of the Day - or anything that people might want to know about what they're serving.</li>
	</ul>
</p>
<p>
	After entries have been submitted, there are 3 types of votes you can submit:
	
	<ul>
		<li>Up Vote - <i class="icon-thumbs-up"></i> - click on this is you've been to the restaurant and you think this entry is accurate.</li>
		<li>Down Vote - <i class="icon-thumbs-down"></i> - click on this is you've been to the restaurant and you think this entry is bogus.</li>
		<li>Sold Out Vote - <i class="icon-ban-circle"></i> - click on this is you've been to the restaurant and you think this entry is accurate, but you found out that their sold out.</li>
	</ul>
</p>

<h2>Beta Testing</h2>
<p>
	Please note that whataretheyserving.com is currently in Beta and is subject to change frequently without notice. Please also note that any data submitted is subject to be cleared.
</p>

<h2>Feedback</h2>
<p>
	Because we are in beta, we are welcoming lots of feedback. Until we have a proper feedback form, please e-mail <%= link_to "casey.li@gmail.com", "mailto:casey.li@gmail.com" %> for feedback. Thanks!
</p>

<h2>Credits</h2>
<p>
	Currently whataretheyserving.com is maintained by Casey Li. Hit up <%= link_to "http://www.caseyli.com", "http://www.caseyli.com", target: "_blank" %> or <%= link_to "http://www.bitesite.ca", "http://www.bitesite.ca", target: "_blank" %> for more information.
</p>