body {
	margin:0px;
	font-family: Oswald;
}

.container {
	margin: 0 auto;
	width: 800px;
	padding: 0px 0 0px 0;
}

/* Header */
.header {
	height: 50px;
	background:#eee;
}

.flash {
	float:left;
	padding: 5px;
	background:white;
	border: 1px solid black;
}
/* Navigation */

.nav {
	margin: 10px;
	display:block;	
	float:right;
	a {
		color:#444;
		&:visited {
			color:#444;
		};
		&:hover {
			color:#777;
		}
		text-decoration:none;
		font-family: 'Oswald';
		margin: 0px 10px;
	}
}

/* GENERAL TEXT */
.color1-text {
	color:#444;
}

.color2-text {
	color:#F1A437;
}

/* GENERAL LINKS */
a {
	color:black;
	text-decoration:none;
}

/* GENERAL FORMS */
input {
	width: 300px;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid black;
}

/* GENERAL BUTTONS */
.primary-button {
	padding: 15px 15px;
	display:block;
	width:300px;
	text-align:center;
	color:black;
	text-decoration:none;
	
	border-radius: 5px;
	border: 1px solid #efb670;
	box-shadow: inset 0 1px 1px white;
	
	background: #efb670; /* Old browsers */
	background: -moz-linear-gradient(top,  #efb670 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efb670), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #efb670 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #efb670 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #efb670 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #efb670 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efb670', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	
	&:hover{

		background: #e0a538; /* Old browsers */
		background: -moz-linear-gradient(top,  #e0a538 0%, #e58b04 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0a538), color-stop(100%,#e58b04)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #e0a538 0%,#e58b04 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #e0a538 0%,#e58b04 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #e0a538 0%,#e58b04 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #e0a538 0%,#e58b04 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0a538', endColorstr='#e58b04',GradientType=0 ); /* IE6-9 */
		
	};
}