// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "globals";
@import "colorswatch";

.entry {
    width:100%;
    background:$light-gray;
    padding:2px;
    margin-bottom:5px;
    
    .description {
        font-size:1.5em;
    }
    
    .actions {
        margin:3px 0;
        .votes-box {
            padding:2px;
            border:1px solid $gray;
            display:inline-block;
            
            .upvote {
                color:green;
                &:hover {
                    color:#004E01;
                };
            }
            
            .downvote {
                color:red;
                &:hover {
                    color:#560100;
                };
            }
        }
        
        @media only screen and (max-width: $max-width-phone) {
        	.votes-box {
        	    font-size:2em;
        	}
        }
    }
}