// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "globals";
@import "colorswatch";

/* HOME **/
.hero-image-container {
    width:100%;
    margin:30px auto;
    
    img {
        width:100%;
    }
}